<h1>500 Error </h1>
<h2>
It seems that you either: <br>
-typed two separate words in the searchbar (e.g.: 'Hong Kong' - correct: 'HongKong'), or <br>
-typed a name for which data cannot be provided (e.g.: a false name such as 'KongHong' or the name of a tiny village), or <br>
-typed in a language other than English. <br>   
Enter the WEATHERWEBAPP adress again to re-enter the app locally and try not to repeat any of the actions mentioned above. <br>
If you have done everything OK and keep seeing this page, there must be an app malfunction...
</h2>